*.out
*_m.yaml
*_m.slurm
*.pyc
__pycache__/
tests/bit_sequences/*.json
tests/bit_sequences/*.png
tests/bit_sequences/*.txt
tests/capitalization/*.json
tasks/capitalization/eval_output/
tasks/capitalization/input/words*_c/
tasks/capitalization/input/words*parquet/
tasks/capitalization/input/words*.json
tasks/capitalization/input/words*.txt
tasks/capitalization/input/*.png
tests/predictable_or_not/*.json
tests/capitalization/*.txt
logs/
finetune.slurm
finetune.yaml
setup_finetune.yaml
*G/
*.eval
